#temp files created by gedit/emacs#
###################################
*~
[#]*[#]
.\#*



# Node ignores    #
###################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules