<!DOCTYPE html>
<html>
    <head>
        <title>Blasteroids!</title>
        <link rel="stylesheet" href="style/blasteroids.css"/>
        <link rel="stylesheet" href="style/index.css"/>
        <script data-main="script/index" src="script/require-jquery.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="title">BLASTEROIDS</div>
        </div>
        <div class="content">
            <form method="POST">
                name: <input type="text" name="gameName"/>
                <input type="submit"/>
            </form>
        </div>
    </body>
</html>