<!DOCTYPE html>
<html>
    <head>
        <title>Blasteroids!</title>
        <link rel="stylesheet" href="/style/blasteroids.css"/>
        <link rel="stylesheet" href="/style/index.css"/>
        <link rel="stylesheet" href="/style/game.css"/>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            //var ship_token = "{{token}}";
            var game_name = "<%= gameName%>";
        </script>
        <script data-main="/script/client" src="/script/require-jquery.js"></script>
        <script src="/script/index.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="title">BLASTEROIDS</div>
        </div>
        <div class="sidebar_left" >
            <div class="inputRow">name: <input class="textInput" name="name" id="name" type="text" value=""/></div>
            <div class="inputRow">
                <div id="shipOptions">
                    <input id="ship1" class="shipColor" type="radio" name="shipColor"  value="ship1" checked="checked" /><label for="ship1"><img src="/images/ship1.png"/></label>
                    <input id="ship2" class="shipColor" type="radio" name="shipColor"  value="ship2" /><label for="ship2"><img src="/images/ship2.png"/></label>
                    <input id="ship3" class="shipColor" type="radio" name="shipColor"  value="ship3" /><label for="ship3"><img src="/images/ship3.png"/></label>
                    <input id="ship4" class="shipColor" type="radio" name="shipColor"  value="ship4" /><label for="ship4"><img src="/images/ship4.png"/></label>
                    <input id="ship5" class="shipColor" type="radio" name="shipColor"  value="ship5" /><label for="ship5"><img src="/images/ship5.png"/></label>
                    <input id="ship6" class="shipColor" type="radio" name="shipColor"  value="ship6" /><label for="ship6"><img src="/images/ship6.png"/></label>
                </div>
                <button class="accentButton" id="joinGame">Join Game</button>
            </div>
        </div> 
        <div id ="canvasBox" class="canvasBox">
            <div id="connectionInformation" class="connectionInformation">
                <form method="POST">
                    <div class="title">COMING SOON</div>
                </form>
            </div>
        </div>
    </body>
</html>
