<!DOCTYPE html>
<html>
    <head>
        <title>Blasteroids!</title>
        <link rel="stylesheet" href="/style/blasteroids.css"/>
        <link rel="stylesheet" href="/style/index.css"/>
        <link rel="stylesheet" href="/style/gameList.css"/>
        <!--<script data-main="script/index" src="script/require-jquery.js"></script>-->
    </head>
    <body>
        <div class="header">
            <div class="title">BLASTEROIDS</div>
        </div>
        <div class="content">
            <div class="gameList">
                <div class="game">

                    <ul class="gameList">
                        <% for (var propt in games) { %>
                        <li><a class="listLink" href="/games/<%= games[propt].name%>"><%= games[propt].name%>: (<%= games[propt].ships.length%>)</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <a href="/createGame" class="accentButton">Create Game</a>
        </div>
    </body>
</html>