<!DOCTYPE html>
<html>
<head>
    <title>Blasteroids!</title>
    <!--<link rel="stylesheet" href="/style/index.css"/>-->
    <link rel="stylesheet" href="/style/foundation.min.css"/>
    <link rel="stylesheet" href="/style/blasteroids/blasteroids.css"/>
    <script data-main="script/index" src="/script/require-jquery.js"></script>
    <script src="/script/foundation.min.js"></script>
</head>
<body>
    <% include views/nav %>
    <div class="row">
        <h3>What is Blasteroids?</h3>
        -Blasteroids is a multliplayer space shooter. It runs on HTML5 and the canvas API, communicating via WebSockets.
    </div>

    <div class="row">
        <h3>How do I play?</h3>
        -press up to go forward, left/right to turn, and down to shoot!
    </div>

    <div class="row">
        <div class="large-12">
            <a href="/games" class="button">View Current Games</a>
        </div>
    </div>
    
</body>
</html>
